.chart-plot-background{
    -fx-background-color: #1d124c;
}
/* Customize gridlines */
.chart-vertical-grid-lines {
    -fx-stroke-width: 0; /* Set the width of vertical gridlines */
    -fx-stroke: #DDDDDD; /* Set the color of vertical gridlines */
}

.chart-horizontal-grid-lines {
    -fx-stroke-width: 0; /* Set the width of horizontal gridlines */
    -fx-stroke: #DDDDDD; /* Set the color of horizontal gridlines */
}
.chart-series-line {
    -fx-stroke: #c34f5c;
}
.series {
    border-radius: 10px; /* Set the radius to 10 pixels */
}
