
.root {
    -fx-background-color:  #291e56;
}

.table-view {
    -fx-background-color:  #291e56;
    -fx-background-radius: 5;
}

.table-row-cell {
    -fx-background-color: rgba(101, 70, 126, 0.5);
    -fx-font-weight: bold;
}

.table-column {
    -fx-text-fill: rgb(89, 204, 197);
    -fx-alignment: "center";
    -fx-font-size: 14;
    -fx-background-color: rgba(31, 24, 72, 0.6);
}